
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Для удобства расчета размеров */
}


@font-face {
    font-family:'K2D' ;
    src: url('/fonts/K2D/K2D-ExtraBold.ttf') format('woff2');
}

@font-face {
    font-family:'K2D' ;
    src: url('/fonts/K2D/K2D-SemiBold.ttf') format('woff2');
}

@font-face {
    font-family:'Inter' ;
    src: url('/fonts/Inter/static/Inter_18pt-Medium.ttf') format('woff2');
}

@font-face {
    font-family:'Inter' ;
    src: url('/fonts/Inter/static/Inter_18pt-Bold.ttf') format('woff2');
}

@font-face {
    font-family:'Inter' ;
    src: url('/fonts/Inter/static/Inter_18pt-Regular.ttf') format('woff2');
}

@font-face {
    font-family:'Roboto' ;
    src: url('/fonts/Roboto/Roboto-Light.ttf') format('woff2');
}



:root{
    --color-brand: #120720;
    --color-brand-light: #FA00FF;
    --color-primary-dark:#1C25FF40;
    --color-primary-light:#FFFFFF;
}

body{
    background-color: var(--color-brand);
    font-family: 'Inter','K2D','Roboto', sans-serif;
    overflow-x: hidden; /* Предотвращаем появление горизонтальной прокрутки */
    
}

a {
    text-decoration: none;
}

/*Header*/

.header{
    position: relative;
    z-index: 1;
}

.header-gradient{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    padding: 0;
    z-index: -1; 
    width: 100vw; /* Растягиваем на всю ширину страницы */
    height: 100vh; /* Растягиваем на всю высоту окна */
    pointer-events: none; 
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: 2px rgba(194, 19, 255, 0.76);
    margin: 40px auto;
    padding: 0;
    width: 1350px;
    height: 95px;
}

.logo{
    text-align: center;
    font-family: K2D;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    color: var(--color-primary-light);
    
}

.logo:hover{
    color: var(--color-brand-light);
    transition: 0.3s ease, color 0.3s ease;
}

.nav{    
    display: flex;
    align-items: center;
    justify-content: center; 
}


ul{
    display: flex;
    padding-right: 300px;
    padding-left: 40px;
    gap: 53px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-link {
    text-decoration: none;
    padding-bottom: 15px;
    position: relative;
    color: var(--color-primary-light);
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-brand-light);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}


.nav-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 200%; /* Располагаем под меню "Services" */
    left: 0;
    background-color: var(--color-brand);
    list-style-type: none;
    padding: 10px 0;
    border: 1px solid rgba(194, 19, 255, 0.76);
    border-radius: 5px;
    min-width: max-content; /* Устанавливает минимальную ширину в зависимости от контента */
    white-space: nowrap;
    z-index: 2;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu a {
    text-decoration: none;
    color: var(--color-primary-light);
    display: block;
}

.dropdown-menu a:hover {
    color: var(--color-brand-light);
}

/* Показываем выпадающее меню при наведении на элемент */
.nav-item:hover .dropdown-menu {
    display: block;
}


.button-contact{
    background: #242121;
    color: var(--color-primary-light);
    border-radius: 50px;
    border-color: transparent;
    width: 220px;
    height: 56px;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    pointer-events: auto;
    z-index: 3;
}

.button-contact:hover{
    background:var(--color-brand-light);
    transition: 0.3s ease, color 0.3s ease;
}

.header-text{
    display: flex;
    flex-direction: column;

}

.header-text-items{
    display: flex;
  
}

.top-container{
    display: flex;
    justify-content:center;
    align-items:start;
    gap: 20px;
    margin: 145px 54px 0 230px;
    color: var(--color-primary-light); 
    
   
}

.header-text{
    gap: 60px;
}

h1{
    font-family: K2D;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.571%;
    letter-spacing: 1.377px;
    margin-top: 0;
}

.header-text-items{
    display: flex;
    align-items: center;
    color:var(--color-primary-light);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.line{
    background-color: var(--color-primary-light);
    width: 1px;
    height: 120px;
}

.items-text{
    padding-left: 20px;
}

.circle-container {
    position: relative;
}

.big-circle{
    
    position: relative;
    z-index: 2; 
    max-width: 100%; 
    max-height: 100%;
    
}
.circle-lines {
    position: absolute;
    z-index: 0; 
    padding: 0 0 5px 15px;
    max-width: 100%; 
    max-height: 100%;  
}

.mini-circle {
    position: absolute;
    top: 0%; 
    right: 20%; 
    transform: translateY(20px); /* Дополнительный отступ вниз */
    z-index: 3; 
    max-width: 100%; /* изображение не выходит за пределы контейнера */
    max-height: 100%;
}

.ellipses-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 3; 
}

.ellipse1-bottom,
.ellipse2-bottom,
.ellipse3-bottom {
    position: absolute;
    display: block; /* Обеспечивает, что изображения будут располагаться друг на друге */
    padding-left: 0;
    
}

.ellipse1-bottom {
    /* Центрируется относительно .ellipse2-bottom */
    z-index: 1; /* На переднем плане относительно .ellipse2-bottom */
}

.ellipse2-bottom {
    /* Центрируется относительно .ellipse3-bottom */
    padding-left: 17px;
    z-index: 2; /* На переднем плане относительно .ellipse3-bottom */
}

.ellipse3-bottom {
    padding-left: 30px;
    z-index: 3; 
}

.ellipse-icon{
    position: absolute;
    display: inline-block;
    z-index: 4;
    left: 5%;
    bottom:44%;
    fill: black;
}

.ellipse1-bottom, .ellipse2-bottom, .ellipse3-bottom, .ellipse-icon {
    animation: growEllipses 2s infinite ease-in-out;
}

@keyframes growEllipses {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
}


.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 3%;
    left: 90%;
    z-index: 3;
}

.icon:hover{
    fill:var(--color-brand-light);
    transition: 0.3s ease, color 0.3s ease;
}

/*Section Services*/

.section-services{
    position: relative;
}

.container-services-title{
    display: flex;
}

.title-services{
    color: #FFF;
    font-family: K2D;
    font-size: 118.087px;
    font-style: normal;
    font-weight: 600;
    line-height: 84.469px; 
    letter-spacing: 5.904px;
    margin: 100px 0 100px 240px;
}

.container-services-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--color-primary-light);
    
}

.service-card1{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card2{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card3{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card4{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card5{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card6{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.services-card-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h3{
    color: #FFF;
    text-align: center;
    font-family: K2D;
    font-size: 39.579px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.services-card-text{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 23.58px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 400px;
}

.card-item-border{
    border: 2px solid var(--color-primary-dark); /* Толщина и цвет границы */
    padding:10px;       /* Отступы внутри границы */
    margin: 0;
    display: inline-block;   /* Чтобы граница окружала только текст */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    color: var(--color-primary-light);
    width: 200px;
    text-align: center;
    
}

.services-card-button{
    
    border-radius: 50px;
    border-color: transparent;
    background:var(--color-brand-light);
    backdrop-filter: blur(33px);
    width: 199px;
    height: 56px;
    color: var(--color-primary-light);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services-card-button:hover{
    background:var(--color-brand);
    transition: 0.3s ease, color 0.3s ease;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.services-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.services-gradient1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
   
}

.services-gradient2{
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    z-index: -1;
}

.services-cross-normal{
    position: absolute;
    right: 10%;
    top: 15%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-primary-light);
}

.cross-flattened{
    position: absolute;
    left: 5%;
    top: 55%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-primary-light);
}

.container-services-dots2 {
    position: absolute;
    top:20%;
    left: 5%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
    transform: rotate(90deg);
  }

.container-dots3{
    position: absolute;
    top:80%;
    left: 5%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
  }

/*Section Projects*/

.section-projects{
    position: relative;
  }

  .container-projects{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding-top: 200px;
    width: 1500px;
  }

  .title-projects{
    color: #FFF;
    font-family: K2D;
    font-size: 118.087px;
    font-style: normal;
    font-weight: 600;
    line-height: 84.469px; 
    letter-spacing: 5.904px;
  }
  
.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;

  }

.card-column1, .card-column2, .cards-column3{
    display: flex;
    flex-direction: column;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: auto; 
    flex-direction: column; 
}

.card img {
    display: block; 
    width: 100%; /* Изображение подстраивается под ширину карточки */
    height: auto; 
}

.card-name {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-primary-light);
    font-family: K2D;
    border: 2px solid var(--color-primary-dark);
    padding: 20px;
    border-radius: 50px;
    width:400px; 
    height: 70px; 
}

.card-name:hover{
    color: var(--color-brand-light);
}


.gradients-projects {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}


.gradient-projects1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
   
}

.gradient-projects2{
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    z-index: -1;
}

.cross-normal{
    position: absolute;
    right: 30%;
    top: 10%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-brand-light);
}

.cross-flattened{
    position: absolute;
    left: 5%;
    top: 55%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-primary-light);
}

.container-dots-projects1 {
    position: absolute;
    top:5%;
    left: 5%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
  }


.container-dots-projects2 {
    position: absolute;
    top:50%;
    left: 50%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
    transform: rotate(90deg);
  }

  .projects-button{
    border-radius: 50px;
    border-color: transparent;
    background:var(--color-brand-light);
    backdrop-filter: blur(33px);
    width: 199px;
    height: 56px;
    color: var(--color-primary-light);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects-button:hover{
    background:var(--color-brand);
    transition: 0.3s ease, color 0.3s ease;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

/*section-steps*/

.section-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title-steps {
    color: var(--color-primary-light);
    color: var(--color-primary-light);
    font-family: K2D;
    font-size: 143.294px;
    font-style: normal;
    font-weight: 600;
    line-height: 135px;
    letter-spacing: 7.165px;
    text-align: left;
}

.list-steps {
    color: var(--color-primary-light);
    max-width: 800px;
    width: 100%;
    text-align: left; 
}



.list-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-items li {
    display: flex;
    gap: 20px; 
    align-items: flex-start; 
}

.step-circle {
    width: 50px;
    height: 50px;
    background-color: var(--color-brand-light);
    color: white; 
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    flex-shrink: 0; /* Не позволяет кружку сжиматься */
    text-align: center;
}

h4 {
    color: var(--color-brand-light);
    margin: 0 0 10px 0; 
    font-size: 18px;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-primary-light);
}



  

/*Section About*/

.section-about{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 200px;
    height: 800px;
}

.section-about-gradient-right{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: absolute;
    bottom: 1%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
}

.ellipse-photo{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.mini-circle-2{
    position: absolute;
    top: 55%;
    z-index: 1;
}

.about-title{
    position: absolute;
    bottom: 80%;
    left: 35%;
    color: var(--color-primary-light);
    font-family: K2D;
    font-size: 143.294px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.5px; 
    letter-spacing: 7.165px;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 130px;
    padding-top: 0px;
    
}

.arrow-dotted{
    width: 20px;
    height: auto; 
    transform: rotate(-90deg);
}

.text-items{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; 
    letter-spacing: 1px;
}

.about-button{
    border-radius: 50px;
    border-color: transparent;
    background:var(--color-brand-light);
    backdrop-filter: blur(33px);
    width: 199px;
    height: 56px;
    color: var(--color-primary-light);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-button:hover{
    background:var(--color-brand);
    transition: 0.3s ease, color 0.3s ease;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.container-dots {
    position: absolute;
    top:60%;
    left: 84%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
  }
  
.dot{
    width: 11px;
    height: 11px;
    background-color: #1C25FF40;
    border-radius: 50%;
}


/*Contact form*/

.section-contacts{
    position: relative;
}

.container-top-contacts{
    display: flex;
    margin-left: 500px;
    gap: 50px;
}

.contacts-title{
    color: #FFF; 
    font-family: K2D;
    font-size: 118.087px;
    font-style: normal;
    font-weight: 600;
    line-height: 84.469px; /* 71.531% */
    letter-spacing: 5.904px;   
    padding-top: 50px;
}

.contacts-big-arrow1{
    transform: rotate(90deg);
    display: block;
    margin: 0 auto;
}

.form-title{
    width: 600px;
    color: var(--color-brand-light);
    font-family: K2D;
    border: 2px solid var(--color-primary-dark); /* Толщина рамки 2px, сплошная линия, черный цвет */
    padding: 20px; /* Внутренние отступы для пространства внутри рамки */
    border-radius: 100px; /* Скругление углов */
    text-align: center; /* Центрирование текста */
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-label{
    color: var(--color-primary-light);
    font-family: K2D;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px ;
}

.container-form-items{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input1, .input2, .input3{
    background: rgba(73, 33, 33, 0.38);
}

.input1, .input2 {
    width: 517px;
    height: 74px;
    border-radius: 35px;
    border: none;
}

.input3{
    width: 517px;
    height: 240px;
    border-radius: 35px;
    border: none;
    resize: vertical;
    color: var(--color-primary-light);
    padding: 30px;
}

.input1, .input2, .input3::placeholder{
    color: rgba(217, 217, 217, 0.85);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 84.469px;
    padding-left: 20px;
}

.form-button{
    border-radius: 50px;
    border-color: transparent;
    background:var(--color-brand-light);
    backdrop-filter: blur(33px);
    width: 280px;
    height: 56px;
    color: var(--color-primary-light);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

.form-button:hover{
    background:var(--color-brand);
    transition: 0.3s ease, color 0.3s ease;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.info-form{
    font-size: 13px;
    color:#747272;
    text-align: center;
    margin-top: 30px;
}

.contact-semicircle{
    position: absolute;
    top: 0;
    padding: 0;
    transform: translateX(-50%);
    z-index: -1;
}

.semicircle1, .semicircle2 {
    position: absolute;
    top: 0;
    left: 0;
}

.semicircle1 {
    z-index: 1; /* Обеспечивает, что semicircle1 будет выше, чем semicircle2 */
}

.semicircle2 {
    z-index: 0; 
    padding: 200px 0 0 250px;
}

/*Footer*/

footer {
    display: flex;
    justify-content: center;
    height: 276px;
    padding: 56px 0;
    border-top: 0.5px solid #cccccc13; 
    color: var(--color-primary-light);
} 

.footer-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.footer-logo h3:hover {
    color: var(--color-brand-light);
}

.footer-menu, .contacts-ul {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.footer-menu, .contacts-ul, .footer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-primary-light);
    text-align: start;
}

.footer-link a {
    color: var(--color-primary-light);
}

.footer-link a:hover {
    color: var(--color-brand-light);
}

.footer-contacts a {
    color: var(--color-primary-light);
}

.footer-contacts a:hover {
    color: var(--color-brand-light);
}

.icon-footer-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--color-primary-light);
    font-size: 16px;
    transition: color 0.3s;
}

.icon-footer-link:hover {
    color: var(--color-brand-light);
}

.icon-footer {
    width: 24px; /* Фиксированная ширина */
    height: 24px; /* Фиксированная высота */
    fill: var(--color-brand-light);
    transition: fill 0.3s;
    flex-shrink: 0; /* Предотвращение сжатия */
}

.icon-footer:hover {
    fill: var(--color-brand-light);
}

.info-item {
    font-size: 16px;
    text-decoration: none; 
    color: var(--color-primary-light);
    transition-duration: 0.2s;
}

.info-item:hover {
    color: var(--color-brand-light);
}

.info-safety {
    font-size: 13px;
    color: #747272;
}

.info-design{
    font-size: 13px;
    color: #747272;
}

.info-design:hover{
    color: var(--color-brand-light);
}


/* The Boxes */

ul.floating-boxes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

ul.floating-boxes li {
    position: absolute;
    list-style: none;
    height: 2rem;
    width: 2rem;
    background-image: linear-gradient(
      135deg,
      rgba(255, 64, 105, 0.07),
      hsla(263, 64%, 39%, 0.07)
    );
    bottom: -110rem;
    animation: floatingbox 25s linear infinite;
    opacity: 1; /* Элементы сразу видимы */
  }

  ul.floating-boxes li:nth-child(1) {
    left: 25%;
    height: 6rem;
    width: 6rem;
    animation-delay: 0s; /* Задержка убрана */
    animation-duration: 15s;
  }

ul.floating-boxes li:nth-child(2) {
    left: 10%;
    height: 2rem;
    width: 2rem;
    animation-delay: 0s;
    animation-duration: 15s;
  }

ul.floating-boxes li:nth-child(3) {
    left: 65%;
    height: 9rem;
    width: 9rem;
    animation-delay: 0s;
    animation-duration: 10s;
  }

ul.floating-boxes li:nth-child(4) {
    left: 45%;
    height: 6rem;
    width: 6rem;
    animation-delay: 0s;
    animation-duration: 20s;
  }

ul.floating-boxes li:nth-child(5) {
    left: 55%;
    height: 4.5rem;
    width: 4.5rem;
    animation-delay: 0s;
    animation-duration: 18s;
  }

ul.floating-boxes li:nth-child(6) {
    left: 35%;
    height: 7rem;
    width: 7rem;
    animation-delay: 0s;
    animation-duration: 22s;
  }

ul.floating-boxes li:nth-child(7) {
    left: 15%;
    height: 11rem;
    width: 11rem;
    animation-delay: 0s;
    animation-duration: 7s;
  }

ul.floating-boxes li:nth-child(8) {
    left: 75%;
    height: 10rem;
    width: 10rem;
    animation-delay: 0s;
    animation-duration: 9s;
  }

ul.floating-boxes li:nth-child(9) {
    left: 85%;
    height: 5rem;
    width: 5rem;
    animation-delay: 0s;
    animation-duration: 4s;
  }

ul.floating-boxes li:nth-child(10) {
    left: 95%;
    height: 5.5rem;
    width: 5.5rem;
    animation-delay: 0s;
    animation-duration: 25s;
  }
  
@keyframes floatingbox {
    0% {
      transform: translateY(0) rotate(0);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-110rem) rotate(1080deg);
      opacity: 1;
      border-radius: 50%;
    }
  }
  
/* Основной стиль для модального окна */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal.is-hidden {
    display: none;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Стили для формы */
  #consultationForm {
    display: flex;
    flex-direction: column;
  }
  
  #consultationForm label {
    margin-top: 10px;
  }
  
  #consultationForm input,
  #consultationForm textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #consultationForm button {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--color-brand-light);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #consultationForm button:hover {
    background-color: var(--color-brand-dark);
  }



